AuthUserFile  /home/maveric3/reci.mavericklodges.com/.htpasswd
AuthName "Maverick City Lodge - Recepcio"
AuthType Basic
<Limit GET POST>
require valid-user
</Limit>

<Files "myallocator_booking.php">
   Deny from all
   Allow from all
   Satisfy any
</Files>
