body {
	font-family: Lucida Grande, Helvetica, Arial;
	font-size: 11px;
	color: #27456F;
	background-image: url(/images/Background.jpg);
	background-repeat: repeat;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 130%;
}

p {
	margin-top: 0px;
}

strong {
	font-family: Lucida Grande, Helvetica, Arial;
	font-weight: bold;
}

div.error {
	background-image: url(/images/error_icon.jpg);
	background-position: 10px center;
	background-repeat: no-repeat;
	display: block;
	background-color: rgb(198, 40, 0);
	color: rgb(244, 212, 204);
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

div.message {
	background-image: url(/images/info_icon.jpg);
	background-position: 10px center;
	background-repeat: no-repeat;
	display: block;
	background-color: white;
	color: rgb(51, 79, 114);
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

div.debug {
	display: block;
	background-color: grey;
	color: white;
}

div.content {
	display: inline;
	width: 781px;
}

div.header {
	width: 781px;
	height: 148px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div.body_content {
	background-color: #C4CDED;
	width: 741px;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 10px;
	padding-bottom: 30px;
	border: 0px none;
	display: block;
}


h1 {
	background-image: url(/images/Title_logo.jpg);
	background-position: center left;
	background-repeat: no-repeat;
	font-family: Lucida Grande, Helvetica, Arial;
	font-size: 19px;
	font-weight: bold;
	color: #000000;
	padding-left: 37px;
	height: 30px;
	line-height: 30px;
}


h2 {
	background-image: url(/images/Arrow.jpg);
	background-position: left 9px;
	background-repeat: no-repeat;
	font-family: Lucida Grande, Helvetica, Arial;
	font-weight: bold;
	font-size: 13px; 
	color: #00437D;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
	display: block;
	line-height: 20px;
	margin-bottom: 0px;
}

h3 {
	font-family: Lucida Grande, Helvetica, Arial;
	font-weight: bold;
	font-size: 11px; 
	padding-left: 0px;
	padding-top: 10px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	margin-top: 10px;
	border: 0px;
}

tr.title {
	background-image: url(/images/Table_header_bg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #00437D;
	height: 26px;
	border: none;
}

tr.title th {
	font-family: Lucida Grande, Helvetica, Arial;
	font-weight: bold;
	padding-left: 9px;
	color: #FFFFFF;
	font-size: 13px;
}

tr.content {
	border: none;
	margin: 0px;
}

td {
	background-color: #9DB1D6;
	padding-left: 9px;
	padding-right: 11px;
	margin: 0px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid #C4CDED;
}

td.booking {
	padding-top: 7px;
	padding-bottom: 7px;
	border-top: 2px solid #C4CDED;
}

ul {
	margin-top: 0px;
}

div.special_offer_button_left {
	background-image: url(/images/Special_offer_btn_left.jpg);
	background-position: center left;
	background-repeat: no-repeat;
	height: 29px;
	width: 32px;
	display: block;
	float: left;
}

div.special_offer_button_text {
	background-color: #00437D;
	padding-left: 10px;
	padding-right: 10px;
	height: 29px;
	line-height: 29px;
	float: left;
}

div.special_offer_button_text a {
	background-color: #00437D;
	font-family: Lucida Grande, Helvetica, Arial;
	font-weight: bold; 
	font-size: 19px; 
	color: #FFFFFF;
}

div.special_offer_button_right {
	background-image: url(/images/Special_offer_btn_right.jpg);
	background-position: center left;
	background-repeat: no-repeat;
	float: left;
	display: block;
	width: 16px;
	height: 29px;
	margin: 0px;
	padding: 0px;
}


div.special_offer_button a {
	color: #FFFFFF;
}

div.link h2 {
	display: block;
	height: 20px;
	line-height: 20px;
	margin-bottom: 0px;
}

div.link h2 a {
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	color: #00437D;
}

div.link p {
}

div.photo {
	width: 135px;
	height: 175px;
	line-height: 135px;
	background-color: #00437D;
	border-width: 1px;
	border-style: solid;
	border-left-color: #6288B5;
	border-top-color: #6288B5;
	border-bottom-color: #316699;
	border-right-color: #316699;
	float: left;
	display: block;
	position: relative;
	margin-right: 12px;
	margin-bottom: 12px;
	text-align: center;
}

div.photo div.title {
	position: absolute;
	bottom: 0px;
	width: 135px;
	height: 36px;
	line-height: 18px;
	text-align: center;
	color: rgb(255, 255, 255);
}

div.photo img {
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
}

div.have_fun, div.bon_apetit {
	display: table;
	border-bottom-style: groove;
	border-bottom-color: #4E7AAA;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 100%;
}

div.have_fun div.image, div.bon_apetit div.image {
	display: block;
	float: left;
	background-color: #9DB1D6;
	width: 290px;
	height: 200px;
	text-align: center;
}

div.have_fun div.image img, div.bon_apetit div.image img {
	border-style: solid;
	border-width: 7px;
	border-color: #FFFFFF;
	vertical-align: middle;
}

div.have_fun div.text, div.bon_apetit div.text {
	margin-left: 310px;
}

td.name {
}
td.description {
}
td.price {
	text-align: right;
}

label {
	display: block;
	width: 100px;
}

fieldset {
	border: none;
	padding: 0px;
	padding-right: 25px;
	margin: 0px;
}

input, select, textarea {
	float: left;
	font-family: Lucida Grande, Helvetica, Arial;
	font-size: 11px;
	color: #27456F;
}

input.input_btn {
	background: transparent url(/images/button1.jpg) repeat scroll 0px 0px;
	width: 93px;
	height: 21px;
	color: white;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
}

input.input_btn2 {
	background: transparent url(/images/button2.jpg) repeat scroll 0px 0px;
	width: 93px;
	height: 21px;
	color: white;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
}

input.input_btn133 {
	background: transparent url(/images/button3.jpg) repeat scroll 0px 0px;
	width: 133px;
	height: 21px;
	color: white;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
}

input.input_btn2_133 {
	background: transparent url(/images/button2a.jpg) repeat scroll 0px 0px;
	width: 140px;
	height: 21px;
	color: white;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
}

