body {
	background-color: #4a7bd7;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	background-image:url(../images/sfondo_righe_centro.gif);
}
table {
	font-size:10px;
}
table.roomcont {
	border:1px solid #dc2816;
	background-color:white;
}
p.title {
	font-size:13px;
	color:black;
	font-weight:bold;
	background-image: url(../images/pattern_red.gif);
	text-transform:uppercase;
	margin: 6px;
	border:1px solid #dc2816;
	padding: 5px 10px 5px 10px;
}
p.month {
	font-size:14px;
	color:black;
	padding:4px;
	font-weight:bold;
}
a:link, a:visited {
	color:#dc2816;
	font-size:12px;
	font-weight:bold;
}
.hostelsep {
	border-bottom:1px dashed #dc2816;
	margin:4px 0px 4px;
}
table.calendardays{
	border-top:1px solid #dc2816;
	border-left:1px solid #dc2816;
}
table.calendardays td{
	border-right:1px solid #dc2816;
	border-bottom:1px solid #dc2816;
}
td.namedays{
	font-size:12px;
	color:black;
	background-color:#f4efec;
	font-weight:bold;
	text-align:center;
}
p.numberday{
	background-color: #f8d7b8;
	border-right:1px solid #dc2816;
	border-bottom:1px solid #dc2816;
	color:black;
	padding:2px;
	font-size:12px;
	width:22px;
	font-weight:bold;
	text-align:center;
	margin:0px 4px 0px 0px;
	display:inline;
	float:left;
}
p.message {
	font-weight:bold;
	margin:0px 1px 4px 1px;
}
span.red {
	color: #dc2816;
}
span.green {
	color: green;
}
div.letti {
	font-size:9px;
	text-align:center;
	margin:9px 3px 3px;
	padding:0;
	position: relative;
	bottom: 0px;
}
select.selletti{
	font-size:9px;
}
input.periodbutton {
	color: black;
	FONT-SIZE: 9px;
	font-weight:bold;
	background-color: #f99851;
	padding: 2px;
	margin:0px;
	BORDER-TOP: 1px solid #dc2816;
	BORDER-RIGHT: 1px solid #61120a;
	BORDER-LEFT: 1px solid #dc2816;
	BORDER-BOTTOM: 1px solid #61120a;
	cursor:pointer;
}
input.periodbutton:link, input.periodbutton:visited {
	color:black;
}
input.periodbutton:hover {
	background-color: #f97311;
	BORDER-BOTTOM: 1px solid #dc2816;
	BORDER-LEFT: 1px solid #61120a;
	BORDER-RIGHT: 1px solid #dc2816;
	BORDER-TOP: 1px solid #61120a;
}
input.inputletti {
	color: black;
	FONT-SIZE: 9px;
	font-weight:bold;
	background-color: #f99851;
	padding: 0px;
	margin:0px;
	BORDER-TOP: 1px solid #dc2816;
	BORDER-RIGHT: 1px solid #61120a;
	BORDER-LEFT: 1px solid #dc2816;
	BORDER-BOTTOM: 1px solid #61120a;
	cursor:pointer;
}
input.inputletti:link, input.inputletti:visited {
	color:black;
}
input.inputletti:hover {
	background-color: #f97311;
	BORDER-BOTTOM: 1px solid #dc2816;
	BORDER-LEFT: 1px solid #61120a;
	BORDER-RIGHT: 1px solid #dc2816;
	BORDER-TOP: 1px solid #61120a;
}
tr.monthbrowser {
	background-color:#f8d7b8;
}
tr.monthbrowser td {
	border-top:1px solid #dc2816;
	border-bottom:1px solid #dc2816;
}
p.booked {
	margin:2px;
	padding:2px;
	font-size:10px;
	text-align:center;
	font-weight:bold;
}
div.actions {
	border:1px solid #dc2816;
	background-color: #f4efec;
}
p.periodform {
	margin:6px 6px 0px;
	padding:0;
}
p.prices{
	margin:6px;
	padding:0;
}
select.pag, select.pag2, select.pag3 {
	font-size:10px;
}
form {
	margin:0px;
}